.about {
    .me {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/src/img/image2.png);
        padding-bottom: 3rem;
        margin-top: 3rem;
    }

    h2, .description{
        color: white;
        align-self: flex-start;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    h2 {
        margin-top: 3rem;
    }
    
    .description {
        margin-top: 1rem;
        font-size: large;
    }

    .skills {
        color: black;
        align-self: flex-start;
        margin-left: 2rem;

        h3 {
            font-size: x-large;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 2rem;
            padding: 0;

            li {
                font-size: large;
                margin-bottom: 1rem;
                margin-right: 2rem;
                border: 2px solid black;
                padding: 0.5rem;
                border-radius: 5%;
            }
        }
    }

}

@media (min-width: 768px) {
    .about{
        img {
            width: 50vh;
            max-width: 500px;
        }

        p, .role {
            font-size: 2rem;
        }

        h1 {
            font-size: 3.5rem;
        }
    }
}