footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #222;

    h3{
            font-size: 1.5rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
            align-self: center;
        }

    ul {
        list-style: none;

        li {
            margin-bottom: 2rem;

            i {
                margin-right: 1rem;
                font-size: x-large;
            }

            a {
                color: white;
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 768px) {
    footer {
        ul {
            display: flex;
            justify-content: center;
            align-self: stretch;
            padding: 0;
            gap: 30%;
        }

        h3 {
            font-size: 2rem;
        }

        ul {
            li {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}