.contact-button {
    background-color: rgb(84, 84, 84);
    color: white;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.check {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.project-h2 {
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 0;
}

.project-home {
    background-image: url(/src/img/image.png);
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-top: 3rem;
}

.more-projects {
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    gap: 4%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    padding: 0.7rem;
}