.my-projectpage {
    background-image: url(/src/img/image1.png);
    padding-bottom: 4rem;
    padding-top: 2rem;

    h1 {
        color: white;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}