.project-card {
    img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
        height: auto;
        border-radius: 15px;
        object-fit: cover;
    }

    h2 {
        color: black;
    }

    p {
        color: black;
    }

    li {
        color: black;
    }
}